<!-- Navbar -->
<nav
  class="
    top-0
    left-0
    w-full
    z-10
    bg-indigo-400
    md:flex-row md:flex-nowrap md:justify-start
    flex
    items-center
    p-4
  "
>
  <div
    class="
      w-full
      mx-autp
      items-center
      flex
      justify-between
      md:flex-nowrap
      flex-wrap
      md:px-10
      px-4
    "
  >
    <!-- Brand -->
    <a
      class="text-black text-sm uppercase hidden lg:inline-block font-semibold"
      [routerLink]="['/dashboard/tasks']" routerLinkActive="router-link-active"
      >Dashboard</a
    >

    <!-- User -->
    <ul class="flex-col md:flex-row list-none items-center hidden md:flex">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon> account_circle </mat-icon>
          <span>{{ user.name }}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>SAIR</span>
        </button>
      </mat-menu>
    </ul>
  </div>
</nav>
